:host {
  display: block;
  height: 100%;
}

.site-card {
  /* Floating elevation when context menu is open */
  &.is-floating {
    border-radius: 8px;
    box-shadow:
      0 10px 20px rgba(0, 0, 0, 0.15),
      0 3px 6px rgba(0, 0, 0, 0.1);
  }
}
